body{
  background-color: #BDBDBD;

  display: flex;
  justify-content: center;
  align-items: center;
 
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
}
.info{
  text-align: center;
  background:#1a191912;
  color: #8D805A;
  font-size:x-large;
width: auto;
border-radius: 10px;

}


.container{
  margin-top: 50px;
  

}